<%- include('partials/head'); %>
<%- include('partials/header'); %>

<div class="card">
    <div class="card-header">
       Configurateur
    </div>
    <% if (mode == 0) { %>
        <form action="/configurateur/nbr" method="post" name="form_nbr">
            <div class="form-group">
                <label for="Nbr">Nombre d'equipement</label>
                <input type="number" name="nbrequipment" class="form-control" id="nbrequipment">
            </div>
            <input type="submit" class="btn btn-primary" value="Valider">
        </form>
    <% } %>
    <% if (mode == 1) { %>
        <form action="/configurateur/config" method="post">
            <% for (let index = 0; index <= nbrequipment; index++) { %>
                <div class="form-group">
                    <label for="nbr">Equipment <%= index %></label>
                    <select name="nom-equipment" id="equipement-select">
                        <option value="">--Please choose an Option--</option>
                        <option value="c3725">c3725</option>
                        <option value="2760">c2760</option>
                    </select>
                </div>
            <% } %>

            <input type="submit" class="btn btn-primary" value="Valider">
        </form>
    <% } %>
        

</div>

<%- include('partials/footer'); %>