<%- include('partials/head'); %>
<%- include('partials/header'); %>

<div class="card">
    <div class="card-header">
       Documentation
    </div>
    </div>
</div>

<%- include('partials/footer'); %>